:root {
  --primary-font: "Roboto", sans-serif;
  --btn-link-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --main-color: white;
  --dark-green-color: #595c47;
  --green-color: #f0e68c;
  --bg-color: #333333e0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  font: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: inherit;
}

button {
  color: inherit;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  margin: auto;
}

.section {
  padding: 60px 0px;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.container {
  min-width: 320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    min-width: 320px;
  }
}

@media screen and (min-width: 767.98px) {
  .container {
    width: 768px;
  }

  .section {
    padding: 70px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }

  .section {
    padding: 88px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}

/* ================= COMPONENTS ================= */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 767.98px) {
  .section-title {
    font-size: 45px;
  }
}

@media screen and (min-width: 1023.99px) {
  .section-title {
    font-size: 55px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ================= /COMPONENTS ================= */

/* =================== HEADER =================== */
.page-header {
  padding: 10px 0px;
  background-color: #232420;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--green-color);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-light-word {
  color: white;
}

.page-header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu-icon {
  fill: var(--green-color);
}

.menu-nav,
.menu-address {
  display: none;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 22px;
}

.menu-list-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-transform: uppercase;
}

.menu-list-link::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--green-color);
  border-radius: 4px;
  content: "";
  margin-top: 3px;
  transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list-link:hover::after,
.menu-list-link:focus::after {
  width: 100%;
}

.menu-list-link:hover,
.menu-list-link:focus {
  color: var(--green-color);
}

.menu-list-donate {
  padding-right: 20px;
  position: relative;
}

.menu-link-icon {
  position: absolute;
  top: 0;
  right: -3px;
}

.menu-address-list {
  display: flex;
  gap: 15px;
}

.menu-address-item {
  position: relative;
}

.menu-address-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--main-color);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-link:hover,
.menu-address-link:focus {
  color: var(--green-color);
}
@media screen and (min-width: 480px) {
  .page-header {
    padding: 15px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .page-header {
    padding: 20px 0px;
  }

  .burger-menu-btn {
    display: none;
  }

  .menu-nav,
  .menu-address {
    display: block;
  }

  .logo {
    font-size: 15px;
  }
}

/* =================== /HEADER =================== */

/* ================ BURGER_MENU =============== */

.mobile-menu {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--dark-green-color);
  transform: translateX(100%);
  transition: transform 500ms var(--btn-link-cubic);
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--btn-link-cubic);
}

.mobile-menu-close-icon {
  fill: var(--dark-green-color);
}
.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: var(--green-color);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: white;
  transition: color 250ms var(--btn-link-cubic);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--green-color);
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--green-color);
  transition: color 250ms var(--btn-link-cubic);
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: white;
}
/* ================ /*BURGER_MENU =============== */

/* ===================== HERO ==================== */
.hero-section {
  padding: 200px 0px 200px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.5),
      rgba(46, 47, 66, 0.5)
    ),
    url("../img/hero-bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1440px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-upper-text {
  font-size: 15px;
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 0.14em;
  color: var(--main-color);
  text-transform: uppercase;
}

.hero-donate-link {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.07rem;
  border-radius: 25px;
  color: #232420;
  background-color: #f0e68c;
  transition: background-color 400ms linear, color 400ms linear;
  margin-top: 30px;
}

.hero-donate-link:hover,
.hero-donate-link:focus {
  background-color: white;
  color: black;
}

@media screen and (min-width: 767.98px) {
  .hero-section {
    padding: 250px 0px 250px;
  }

  .hero-upper-text {
    font-size: 18px;
  }

  .hero-title {
    font-size: 55px;
  }

  .hero-donate-link {
    padding: 15px 25px;
    font-size: 18px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-upper-text {
    font-size: 22px;
  }

  .hero-title {
    font-size: 72px;
  }
  .hero-donate-link {
    padding: 20px 35px;
    font-size: 22px;
    margin-top: 40px;
  }
}

/* ================ ABOUT ============== */
.about-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.about-goal {
  margin-top: 20px;
  font-weight: 700;
}

.about-image {
  margin: 20px auto 0px;
  height: auto;
}

@media screen and (min-width: 767.98px) {
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-description {
    width: 50%;
  }

  .about-image {
    width: 50%;
  }
}

@media screen and (min-width: 767.98px) {
  .about-title {
    text-align: start;
    margin: 0;
  }

  .about-image {
    margin: 0 auto;
  }
}

/* ================ QUEATION-ANSWER ============= */
.question {
  background-color: #e5e50e59;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.question-list-tem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-list-number {
  font-size: 18px;
  font-weight: 700;
  display: block;
  width: 80px;
  border-bottom: 1px solid #232420;
  margin-bottom: 32px;
  padding-bottom: 8px;
}

.question-title {
  margin-bottom: 10px;
}

.answer-text {
  font-weight: 500;
  font-size: 15px;
}

.answer-text-link {
  font-weight: 600;
  transition: color 250ms linear;
}

.answer-text-link:hover,
.answer-text-link:focus {
  color: #595c47;
}

@media screen and (min-width: 767.98px) {
  .question-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: center;
    align-items: center;
  }

  .question-list-box {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .question-list-box {
    width: 400px;
  }
}

/* ============ COUNTRYMEN =============== */

.countrymen-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.countrymen-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 330px;
  height: 370px;
  padding: 5px;
  background-color: white;
}

.img-countrymen {
  width: 330px;
  height: 300px;
}

.img-countrymen-info {
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .countrymen-card {
    width: 300px;
    height: 350px;
  }
  .img-countrymen {
    height: 280px;
  }
}

/* =============  DONATE =========== */
.donate-section {
  background-color: #595c47;
}

.donate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.donate-title {
  color: #f0e68c;
}

.donate-text {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.donate-link {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #f0e68c;
  width: 220px;
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
}

.donate-link:hover,
.donate-link:focus {
  background-color: white;
  color: #232420;
}

@media screen and (min-width: 767.98px) {
  .donate-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .donate-box {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .donate-img {
    width: 450px;
    height: 450px;
  }

  .donate-title,
  .donate-text {
    text-align: left;
  }

  .donate-title {
    font-size: 45px;
  }

  .donate-link {
    margin: 0;
  }
}

/*========================  STATUT =============== */

.section-statut {
  padding: 180px 0px;
}

.statut-link {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #f0e68c;
  width: 220px;
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
}

.statut-link:hover,
.statut-link:focus {
  background-color: #595c47;
  color: white;
}
/* =============FOOTER=========== */

.footer {
  background-color: #232420;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  gap: 30px;
}

.footer-contacts-title {
  color: #f0e68c;
}

.contacts-footer {
  margin-bottom: 40px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* .contacts-list-item {
  position: relative;
} */

.icon {
  fill: #f0e68c;
  margin-right: 10px;
}

.logo-footer {
  font-size: 25px;
}

.author {
  color: white;
}

/* ================= DONATE =================== */

.menu-donate {
  font-size: 13px;
}

.logo-donate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate-section-details {
  padding: 50px 0px;
}

.donate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate-title-second {
  text-align: center;
  margin-top: 40px;
}

.donate-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.donate-row-title {
  font-size: 15px;
  color: #595c47;
}

.donate-row-text {
  font-size: 19px;
  font-weight: 500;
  color: #232420;
}

@media screen and (min-width: 767.98px) {
  .logo-list {
    flex-direction: row;
    gap: 7px;
  }

  .donate-row-text {
    font-size: 28px;
  }
}
